body{
    background-color: black !important;
    height: 100vh;
    font-family: Cinzel;
}

header{
    background-image:url(firefox_5LaWeYVBoV.png);
    width: 100%;
    height: 120px;
    background-repeat: repeat;
}

.titleInst{

    color: white !important;
    text-align: center;
    font-family: Cinzel;
    margin-top: 5%;
    margin-bottom: 2%;
    box-shadow: rgba(255, 255, 255, 0.137) 0px 0px 4px 10px;


}

.ip{

    display: flex;
    justify-content: center;
}
.instagramphoto{
    margin-bottom: 3%;
    width: 20px;
    height: 20px;
}

.instagramphoto:hover{
    color: red;
    cursor: pointer;
}



.img1{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    border: red solid;
    background-color: black !important;
}

.card{
    background-color: black !important;
}


section1{display: flex;
    justify-content: space-around;
    align-items: center;}
    
    .mG{
    width: 20%;
    color:white;
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
    font-size: 30px;
    font-family: cinzel;
    
    
    }
    
    .mG a{
        text-decoration: underline rgb(75, 21, 110);
        color: white;

    
    }
    
    .mG a:hover{
        color: white;
        box-shadow: rgba(255, 255, 255, 0.137) 0px 0px 4px 10px;
        background-color: rgba(255, 255, 255, 0.137);
        text-decoration: underline rgb(184, 45, 45);
        border-radius: 10px;
    }
    

.titleInLogo{
    
border: solid rgba(255, 255, 255, 0.137) !important;
}




    