body{
    background-color: black;
    height: 100vh;
    font-family: Cinzel
    ;
}

header{
    background-image:url(firefox_5LaWeYVBoV.png);
    width: 100%;
    height: 120px;
    background-repeat: repeat;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
}


container{
    /* background-image:url(img/firefox_icazG1YNJt.png) !important; */
    height: 150vh !important;
    opacity: 0.4 !important;
    display: flex !important;
    


   
  
    
}

container img{
    width: 100%;

}



.logo{
border: solid rgb(172, 118, 207);
margin-top: 5%;
height: 300px;
border-radius: 35px;
box-shadow: rgba(255, 255, 255, 0.137) 0px 0px 4px 10px;


}

section1{display: flex;
justify-content: space-around;
align-items: center;
position: absolute;
border: rgb(133, 68, 175) solid;
width: 100%;
background-color: black;
padding: 0px;
margin: 0px;
}

.mG{
width: 20%;
color:white;
display: flex;
justify-content: space-around;
margin-top: 3%;
font-size: 30px;
font-weight:bolder ;



}

.mG a{
    text-decoration: underline rgb(75, 21, 110);
    color: white;
    cursor: pointer;
    padding: 20px;
    margin: 0;
   


}

.mG a:hover{
    color: white;
    box-shadow: rgba(255, 255, 255, 0.137) 0px 0px 4px 10px;
    background-color: rgba(255, 255, 255, 0.137);
    text-decoration: underline rgb(184, 45, 45);
    border-radius: 10px;
    cursor: pointer;

}
